// Microsoft Visual C++ generated resource script.
//

#define IDD_FOLDERS_DLG                 210
#define IDC_TREE_FOLDERS                217
#define IDC_LIST_MESSAGES               218


#include "winres.h"


IDD_FOLDERS_DLG DIALOGEX 0, 0, 424, 254
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "&Close",IDOK,364,233,50,14
    CONTROL         "",IDC_TREE_FOLDERS,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_BORDER | WS_HSCROLL | WS_TABSTOP,7,7,125,214
    CONTROL         "",IDC_LIST_MESSAGES,"SysListView32",LVS_REPORT | WS_BORDER | WS_TABSTOP,139,7,278,214,WS_EX_LEFTSCROLLBAR
END

